In [1]:
import numpy as np
import pandas as pd
from sklearn import svm
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

X_Y_train_l = pd.read_csv('titanic_x_y_train.csv', delimiter=',')
X_test_l = pd.read_csv('titanic_x_test.csv', delimiter=',')

In [3]:
print(X_Y_train_l.shape)
X_Y_train_l.head()

(668, 11)

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Natsch, Mr. Charles H",male,37.0,0,1,PC 17596,29.7000,C118,C,0
1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,1
2,2,"West, Mrs. Edwy Arthur (Ada Mary Worth)",female,33.0,1,2,C.A. 34651,27.7500,NaN,S,1
3,3,"Turkula, Mrs. (Hedwig)",female,63.0,0,0,4134,9.5875,NaN,S,1
4,3,"Hagland, Mr. Ingvald Olai Olsen",male,NaN,1,0,65303,19.9667,NaN,S,0

In [4]:
X_Y_train_l.describe(include='all')

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
count,668.000000,668,668,537.000000,668.000000,668.000000,668,668.000000,158,667,668.000000
unique,NaN,668,2,NaN,NaN,NaN,538,NaN,124,3,NaN
top,NaN,"Quick, Mrs. Frederick Charles (Jane Richards)",male,NaN,NaN,NaN,1601,NaN,F2,S,NaN
freq,NaN,1,435,NaN,NaN,NaN,6,NaN,3,484,NaN
mean,2.293413,NaN,NaN,29.666052,0.483533,0.377246,NaN,33.413790,NaN,NaN,0.392216
std,0.845210,NaN,NaN,14.553571,1.053885,0.801922,NaN,52.964651,NaN,NaN,0.488610
min,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN,0.000000
25%,1.000000,NaN,NaN,20.000000,0.000000,0.000000,NaN,7.895800,NaN,NaN,0.000000
50%,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.456250,NaN,NaN,0.000000
75%,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.275000,NaN,NaN,1.000000
max,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN,1.000000

In [5]:
X_Y_train_l.isnull().sum()

Pclass        0
Name          0
Sex           0
Age         131
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       510
Embarked      1
Survived      0
dtype: int64

In [6]:
del X_Y_train_l["Name"]
del X_Y_train_l["Ticket"]
del X_Y_train_l["Cabin"]
del X_Y_train_l["Fare"]
X_Y_train_l.head()

   Pclass     Sex   Age  SibSp  Parch Embarked  Survived
0       1    male  37.0      0      1        C         0
1       3  female   NaN      0      0        Q         1
2       2  female  33.0      1      2        S         1
3       3  female  63.0      0      0        S         1
4       3    male   NaN      1      0        S         0

In [7]:
del X_test_l["Name"]
del X_test_l["Ticket"]
del X_test_l["Cabin"]
del X_test_l["Fare"]

In [8]:
print(X_Y_train_l.isnull().sum())
print(X_Y_train_l.shape)
X_Y_train_l = X_Y_train_l.fillna(X_Y_train_l.median())
print(X_Y_train_l.isnull().sum())
X_Y_train_l.shape

Pclass        0
Sex           0
Age         131
SibSp         0
Parch         0
Embarked      1
Survived      0
dtype: int64
(668, 7)
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Embarked    1
Survived    0
dtype: int64

(668, 7)

In [9]:
X_Y_train_l.dropna(inplace=True)
print(X_Y_train_l.isnull().sum())
X_Y_train_l.shape

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Embarked    0
Survived    0
dtype: int64

(667, 7)

In [10]:
X_train_l = X_Y_train_l.iloc[:,:X_Y_train_l.shape[1]-1]
print(X_train_l.shape)
Y_train_l = X_Y_train_l.iloc[:,-1]
print(Y_train_l.shape)
print(Y_train_l)

(667, 6)
(667,)
0      0
1      1
2      1
3      1
4      0
5      1
6      0
7      1
8      0
9      0
10     1
11     1
12     0
13     0
14     1
15     1
16     0
17     0
18     1
19     0
20     1
21     0
22     1
23     0
24     0
25     1
26     1
27     0
28     0
29     0
      ..
638    1
639    0
640    0
641    1
642    1
643    0
644    0
645    0
646    0
647    1
648    1
649    0
650    0
651    0
652    0
653    0
654    1
655    0
656    1
657    0
658    1
659    1
660    0
661    0
662    0
663    0
664    0
665    1
666    0
667    1
Name: Survived, Length: 667, dtype: int64

In [11]:
def getNumber(str):
    if str=="male":
        return 1
    else:
        return 2
X_train_l['gender']=X_train_l["Sex"].apply(getNumber)
print(X_train_l)
del X_train_l["Sex"]
X_train_l.head()

     Pclass     Sex   Age  SibSp  Parch Embarked  gender
0         1    male  37.0      0      1        C       1
1         3  female  28.0      0      0        Q       2
2         2  female  33.0      1      2        S       2
3         3  female  63.0      0      0        S       2
4         3    male  28.0      1      0        S       1
5         2  female  29.0      0      0        S       2
6         3    male  28.0      0      0        C       1
7         3  female  28.0      0      0        C       2
8         3    male  28.0      0      0        S       1
9         1    male  29.0      1      0        S       1
10        3  female  22.0      0      0        S       2
11        3    male  28.0      1      1        C       1
12        3    male  30.0      0      0        S       1
13        1    male  58.0      0      0        C       1
14        3    male  39.0      0      0        S       1
15        1  female  22.0      0      0        S       2
16        3    male  55.5      0      0        S       1
17        3    male  19.0      0      0        S       1
18        1    male  56.0      0      0        C       1
19        3    male  20.0      0      0        S       1
20        1    male  28.0      0      0        S       1
21        3    male  28.0      0      0        Q       1
22        3  female  28.0      1      0        S       2
23        3    male  24.0      0      0        S       1
24        2    male  47.0      0      0        S       1
25        2  female   6.0      0      1        S       2
26        1  female  54.0      1      0        C       2
27        2    male  32.0      2      0        S       1
28        1    male  46.0      0      0        C       1
29        2    male  66.0      0      0        S       1
..      ...     ...   ...    ...    ...      ...     ...
638       1  female  36.0      1      2        S       2
639       3  female  28.0      3      1        S       2
640       3    male  25.0      1      0        S       1
641       3  female  18.0      0      1        S       2
642       1    male  25.0      1      0        C       1
643       3    male  17.0      0      0        S       1
644       3    male  44.0      0      0        S       1
645       3    male  59.0      0      0        S       1
646       3    male   4.0      4      1        Q       1
647       3    male  28.0      0      0        S       1
648       1  female  58.0      0      0        C       2
649       3    male  19.0      0      0        S       1
650       3    male  47.0      0      0        S       1
651       3    male  28.5      0      0        S       1
652       1    male  19.0      3      2        S       1
653       1    male  50.0      1      0        C       1
654       3    male  28.0      0      0        Q       1
655       3  female  28.0      0      0        S       2
656       1  female  19.0      0      2        S       2
657       3    male  35.0      0      0        C       1
658       3  female  28.0      0      0        Q       2
659       3    male  12.0      1      0        C       1
660       2    male  60.0      1      1        S       1
661       3    male  20.5      0      0        S       1
662       3    male  28.0      0      0        S       1
663       3  female  28.0      0      2        Q       2
664       3  female  28.0      0      2        C       2
665       2  female  24.0      0      2        S       2
666       3    male  28.0      0      0        C       1
667       2  female  36.0      0      0        S       2

[667 rows x 7 columns]

   Pclass   Age  SibSp  Parch Embarked  gender
0       1  37.0      0      1        C       1
1       3  28.0      0      0        Q       2
2       2  33.0      1      2        S       2
3       3  63.0      0      0        S       2
4       3  28.0      1      0        S       1

In [12]:
X_test_l['gender']=X_test_l["Sex"].apply(getNumber)
print(X_test_l)
del X_test_l["Sex"]
X_test_l.head()

     Pclass     Sex    Age  SibSp  Parch Embarked  gender
0         3  female  40.00      1      0        S       2
1         3    male  28.00      0      0        S       1
2         3  female   9.00      4      2        S       2
3         3  female  18.00      0      0        S       2
4         3    male  20.00      0      0        C       1
5         3    male  16.00      0      0        S       1
6         1  female    NaN      1      0        S       2
7         2    male  44.00      1      0        S       1
8         1  female  38.00      0      0      NaN       2
9         1    male  64.00      1      4        S       1
10        2    male    NaN      0      0        C       1
11        3    male  19.00      0      0        S       1
12        1  female  18.00      2      2        C       2
13        3    male  17.00      1      1        C       1
14        2    male   8.00      1      1        S       1
15        1    male  24.00      0      0        C       1
16        2    male   0.67      1      1        S       1
17        3    male  28.00      0      0        S       1
18        3    male    NaN      1      0        Q       1
19        1  female  63.00      1      0        S       2
20        3    male    NaN      0      0        Q       1
21        3  female  17.00      4      2        S       2
22        3    male    NaN      0      0        S       1
23        3    male    NaN      0      0        C       1
24        1    male    NaN      0      0        S       1
25        2  female  30.00      3      0        S       2
26        3    male    NaN      0      0        Q       1
27        3    male  21.00      0      0        S       1
28        3    male  22.00      0      0        C       1
29        2  female  40.00      0      0        S       2
..      ...     ...    ...    ...    ...      ...     ...
193       2    male    NaN      0      0        C       1
194       3    male  24.50      0      0        S       1
195       2    male  34.00      1      0        S       1
196       3    male  30.00      0      0        C       1
197       3  female  45.00      0      0        S       2
198       2  female  24.00      2      3        S       2
199       3  female  26.00      0      0        S       2
200       3    male  43.00      0      0        S       1
201       1    male    NaN      0      0        S       1
202       3  female   2.00      4      2        S       2
203       2    male  43.00      1      1        S       1
204       3    male  18.00      1      1        S       1
205       3  female    NaN      0      0        Q       2
206       3    male  21.00      0      0        S       1
207       2    male  34.00      1      0        S       1
208       1  female  52.00      1      1        S       2
209       2  female   8.00      0      2        S       2
210       2  female  42.00      1      0        S       2
211       3    male    NaN      3      1        S       1
212       1  female  53.00      2      0        S       2
213       1    male  65.00      0      0        S       1
214       3    male  29.00      0      0        S       1
215       2    male  42.00      1      0        S       1
216       3    male    NaN      0      0        Q       1
217       3  female    NaN      0      0        Q       2
218       3    male  26.00      1      0        C       1
219       2    male  30.00      0      0        S       1
220       3  female  20.00      1      0        S       2
221       2  female    NaN      0      0        Q       2
222       1    male  36.00      1      2        S       1

[223 rows x 7 columns]

   Pclass   Age  SibSp  Parch Embarked  gender
0       3  40.0      1      0        S       2
1       3  28.0      0      0        S       1
2       3   9.0      4      2        S       2
3       3  18.0      0      0        S       2
4       3  20.0      0      0        C       1

In [13]:
def getNumberEmbarked(str):
    if str=='C':
        return 1
    elif str=='Q':
        return 2
    else:
        return 3

In [14]:
X_test_l['Embarked']=X_test_l["Embarked"].apply(getNumberEmbarked)
X_train_l['Embarked']=X_train_l["Embarked"].apply(getNumberEmbarked)
print(X_test_l)

     Pclass    Age  SibSp  Parch  Embarked  gender
0         3  40.00      1      0         3       2
1         3  28.00      0      0         3       1
2         3   9.00      4      2         3       2
3         3  18.00      0      0         3       2
4         3  20.00      0      0         1       1
5         3  16.00      0      0         3       1
6         1    NaN      1      0         3       2
7         2  44.00      1      0         3       1
8         1  38.00      0      0         3       2
9         1  64.00      1      4         3       1
10        2    NaN      0      0         1       1
11        3  19.00      0      0         3       1
12        1  18.00      2      2         1       2
13        3  17.00      1      1         1       1
14        2   8.00      1      1         3       1
15        1  24.00      0      0         1       1
16        2   0.67      1      1         3       1
17        3  28.00      0      0         3       1
18        3    NaN      1      0         2       1
19        1  63.00      1      0         3       2
20        3    NaN      0      0         2       1
21        3  17.00      4      2         3       2
22        3    NaN      0      0         3       1
23        3    NaN      0      0         1       1
24        1    NaN      0      0         3       1
25        2  30.00      3      0         3       2
26        3    NaN      0      0         2       1
27        3  21.00      0      0         3       1
28        3  22.00      0      0         1       1
29        2  40.00      0      0         3       2
..      ...    ...    ...    ...       ...     ...
193       2    NaN      0      0         1       1
194       3  24.50      0      0         3       1
195       2  34.00      1      0         3       1
196       3  30.00      0      0         1       1
197       3  45.00      0      0         3       2
198       2  24.00      2      3         3       2
199       3  26.00      0      0         3       2
200       3  43.00      0      0         3       1
201       1    NaN      0      0         3       1
202       3   2.00      4      2         3       2
203       2  43.00      1      1         3       1
204       3  18.00      1      1         3       1
205       3    NaN      0      0         2       2
206       3  21.00      0      0         3       1
207       2  34.00      1      0         3       1
208       1  52.00      1      1         3       2
209       2   8.00      0      2         3       2
210       2  42.00      1      0         3       2
211       3    NaN      3      1         3       1
212       1  53.00      2      0         3       2
213       1  65.00      0      0         3       1
214       3  29.00      0      0         3       1
215       2  42.00      1      0         3       1
216       3    NaN      0      0         2       1
217       3    NaN      0      0         2       2
218       3  26.00      1      0         1       1
219       2  30.00      0      0         3       1
220       3  20.00      1      0         3       2
221       2    NaN      0      0         2       2
222       1  36.00      1      2         3       1

[223 rows x 6 columns]

In [15]:
print(X_test_l.isnull().sum())
X_test_l = X_test_l.fillna(X_test_l.median())
X_test_l.isnull().sum()

Pclass       0
Age         46
SibSp        0
Parch        0
Embarked     0
gender       0
dtype: int64

Pclass      0
Age         0
SibSp       0
Parch       0
Embarked    0
gender      0
dtype: int64

In [16]:
from sklearn import preprocessing
#X_train_l = preprocessing.scale(X_train_l)
#X_train_l

### Logistic Regression

In [17]:
clf_LR = LogisticRegression()

In [18]:
grid_LR = {"C" : [10**-i for i in range(-5, 5)],"max_iter":[10**i for i in range(1, 3)]}
grid_search_LR = GridSearchCV(clf_LR, grid_LR,cv=model_selection.KFold(n_splits=10,shuffle=True,random_state=1))
grid_search_LR.fit(X_train_l, Y_train_l)

GridSearchCV(cv=KFold(n_splits=10, random_state=1, shuffle=True),
       error_score='raise',
       estimator=LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'C': [100000, 10000, 1000, 100, 10, 1, 0.1, 0.01, 0.001, 0.0001], 'max_iter': [10, 100]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [19]:
grid_search_LR.best_estimator_

LogisticRegression(C=100000, class_weight=None, dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=10,
          multi_class='ovr', n_jobs=1, penalty='l2', random_state=None,
          solver='liblinear', tol=0.0001, verbose=0, warm_start=False)

### KNN

In [20]:
clf_KN = KNeighborsClassifier()
grid_KN = {"n_neighbors":[3,5,7,9,11]}
grid_search_KN = GridSearchCV(clf_KN, grid_KN,cv=model_selection.KFold(n_splits=10,shuffle=True,random_state=1))
grid_search_KN.fit(X_train_l, Y_train_l)

GridSearchCV(cv=KFold(n_splits=10, random_state=1, shuffle=True),
       error_score='raise',
       estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform'),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'n_neighbors': [3, 5, 7, 9, 11]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [21]:
grid_search_KN.best_estimator_

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=3, p=2,
           weights='uniform')

### SVM

In [23]:
clf_SVC = svm.SVC()
grid_SVC = {'C' : [1e2, 1e3, 5e3, 1e4],
       'gamma' : [1e-3, 5e-4, 1e-4]}
grid_search_SVC = GridSearchCV(clf_SVC, grid_SVC,cv=model_selection.KFold(n_splits=10,shuffle=True,random_state=1))
grid_search_SVC.fit(X_train_l, Y_train_l)

GridSearchCV(cv=KFold(n_splits=10, random_state=1, shuffle=True),
       error_score='raise',
       estimator=SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'C': [100.0, 1000.0, 5000.0, 10000.0], 'gamma': [0.001, 0.0005, 0.0001]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [24]:
grid_search_SVC.best_estimator_

SVC(C=5000.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma=0.001, kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

### Decision Tree

In [26]:
clf_DT = DecisionTreeClassifier(criterion="entropy",splitter="best")
grid_DT = {'min_samples_split':[2,5,10,15,20,25,30],'max_depth':[10,15,20,25,30,35],
           'min_impurity_decrease':[10**-i for i in range(2, 5)]}
grid_search_DT = GridSearchCV(clf_DT, grid_DT,cv=model_selection.KFold(n_splits=10,shuffle=True,random_state=1))
grid_search_DT.fit(X_train_l, Y_train_l)

GridSearchCV(cv=KFold(n_splits=10, random_state=1, shuffle=True),
       error_score='raise',
       estimator=DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'min_samples_split': [2, 5, 10, 15, 20, 25, 30], 'max_depth': [10, 15, 20, 25, 30, 35], 'min_impurity_decrease': [0.01, 0.001, 0.0001]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [27]:
grid_search_DT.best_estimator_

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=15,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.001, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=20,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

### Random Forests

In [29]:
clf_RF = RandomForestClassifier(criterion='entropy')
grid_RF ={'n_estimators':[5,10,15,20,25],'max_depth':[10,15,20,25,30,35]}
grid_search_RF = GridSearchCV(clf_RF, grid_RF,cv=model_selection.KFold(n_splits=10,shuffle=True,random_state=1))
grid_search_RF.fit(X_train_l, Y_train_l)

GridSearchCV(cv=KFold(n_splits=10, random_state=1, shuffle=True),
       error_score='raise',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'n_estimators': [5, 10, 15, 20, 25], 'max_depth': [10, 15, 20, 25, 30, 35]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [30]:
grid_search_RF.best_estimator_

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=10, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=20, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [31]:
print("LR ", grid_search_LR.best_score_)
print("KNN ", grid_search_KN.best_score_)
print("SVM ", grid_search_SVC.best_score_)
print("DT ", grid_search_DT.best_score_)
print("RF ", grid_search_RF.best_score_)

LR  0.80059970015
KNN  0.770614692654
SVM  0.821589205397
DT  0.815592203898
RF  0.8035982009